* {
  margin: 0;
  padding-left: 1%;
  padding-right: 2%;
}
header {
  width: 100%;
  height: 100px;
  /* background-color: green; */
}
header h1 {
  padding-top: 20px;
  float: left;
  width: 30%;
  padding-left: 20px;
  margin-left: -13px;
}
li {
  float: right;
  text-align: right;
}
ul {
  display: block;
  padding: 8px;
  list-style: none;
}
ul a {
  display: inline-block;
  padding: 15px;
}

.section1 {
  background-color: #EEEEEE;
  margin-top: -16px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  width: 100%;
  height: 200px;
  display: block;
  text-align: left;
}
.para1 {
  width: 40%;
  padding-bottom: 20px;
}
.button1 {
  margin-bottom: 20px;
  margin-left: 15px;
  padding-right: 10px;
}
.section2 {
  /* background-color: hotpink; */
  width: 100%;
  height: 200px;
}

.div1 {
  float: left;
  margin-right: 2%;
  margin-left: 1%;
  width: 27%;
  height: 20%;
  text-align: center;
}

.p2 {
  color: #EEEEEE;
  background-color: #EEEEEE;
  padding: 10% 2% 15% 2%;
  margin-top: 25px;
  height: 92px;
  margin-right: -29px;
  margin-left: 23px;
}

.p3 {
  margin: 2% 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}

.p4{
  margin-left: 44px;
}
.a1{
  margin-left: 44px;
}

.section3 {
  margin-top: 143px;
  padding-top: 2%;
  padding-bottom: 2%;

  float: left;
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  text-align: center;
}
.subscribe {
  padding-right: 2%;
  font-weight: bold;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.button2 {
  font-size: small;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 80px;
  background-color: #288ACF;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  /* background-color: blue; */
  padding-top: 2%;
  width: 100%;
  height: 40px;
  display: inline-block;
}

.divf1 {
  float: left;
  width: 30%;
}

.divf2 {
  padding-left: 20px;
  width: 20%;

  float: right;
}
.fpara{
  padding-left: 72px;
}

.text-field {
  padding-right: 5%;
  font-size: large;
}
